name: Continuous Integration
on: 
  push:
  workflow_dispatch:
  
jobs:
  ci:
    runs-on: ubuntu-latest

    steps:

    - name: Install JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'
     
    - name: Check Java installation
      run: java -version

    - name: Checkout
      uses: actions/checkout@4.0.0
      with:
        repository: ${{ github.repository }}
        access-token: ${{ secrets.ACCESS_TOKEN }}

    - name: List files
      run: ls -al

    - name: Download dependencies
      run: mvn compile

    - name: Build project
      run: mvn package -DskipTests

    - name: Run Unit tests
      run: mvn test
      
